<%= cache_indicator params[:zip] %>
<% if @forecast.present? %>
  <ul class="list-inline">
    <li class="list-inline-item">
      <i data-feather="sunrise"></i>
      <%= formatted_time @forecast.dig('city', 'sunrise') %>
    </li>
    <li class="list-inline-item">
      <i data-feather="sunset"></i>
      <%= formatted_time @forecast.dig('city', 'sunset') %>
    </li>
  </ul>
  <div class="row row-cols-1 row-cols-md-3">
    <% @forecast['list']&.each do |forecast| %>
      <div class="col mb-4">
        <div class="card text-center h-100">
          <div class="card-body">
            <h5 class="card-title"><%= forecast['weather'][0]['main'] %></h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <%= forecast['weather'][0]['description'] %>
            </h6>
            <p class="card-text">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button type="button" class="btn btn-info">
                min
                <span class="badge badge-light">
                  <%= forecast.dig('main', 'temp_min') %>
                </span>
                <span class="sr-only">min</span>
              </button>
              <button type="button" class="btn btn-light">
                <span class="badge badge-secondary">
                  <%= forecast.dig('main', 'temp') %>
                </span>
                <span class="sr-only">unread messages</span>
              </button>
              <button type="button" class="btn btn-warning">
                max
                <span class="badge badge-light">
                  <%= forecast.dig('main', 'temp_max') %>
                </span>
                <span class="sr-only">max</span>
              </button>
            </div>
            </p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><%= formatted_time forecast.dig('dt') %></small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
