<h1>Forecast in Rails</h1>

<%= form_with url: root_path, method: :get,
              id: 'forecast_search', remote: true do %>
  <div class="form-row">
    <div class="form-group col-md-8">
      <%= text_field_tag :address, params[:address], autocomplete: 'off',
                         placeholder: t('.address'), class: 'form-control' %>
    </div>
    <div class="form-group col-md-4">
      <%= text_field_tag :city, params[:city], autocomplete: 'off',
                         placeholder: t('.city'), class: 'form-control' %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= text_field_tag :state, params[:state], autocomplete: 'off',
                         placeholder: t('.state'), class: 'form-control' %>
    </div>
    <div class="form-group col-md-4">
      <%= text_field_tag :zip, params[:zip], autocomplete: 'off',
                         placeholder: t('.zip'), class: 'form-control' %>
    </div>
    <div class="form-group col-md-2">
      <%= text_field_tag :country, params[:country], autocomplete: 'off',
                         maxlength: 2, placeholder: t('.country'),
                         class: 'form-control' %>
    </div>
  </div>
  <%= submit_tag t('.search'), class: 'btn btn-primary',
                 data: { disable_with: t('.searching_'),
                         loading_text: t('.searching_'),
                         complete_text: t('.searched')} %>
<% end %>

<div id="forecast_result"><%= render 'index' %></div>
